.container {
  height: 100%;

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 992px) {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    padding-left: 20vw;
    padding-right: 20vw;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
}

.section {
  padding-top: 2rem;

  .section-header {
    padding-bottom: 2rem;
    text-align: center;
    font-weight: 1000;
  }
}

.portrait-section {
  background-image: linear-gradient(to bottom, lighten($accent, 10%), darken($accent, 10%));
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  text-align: center;
  padding-top: 10vh;
  padding-bottom: 20vh;

  .items {
    .portrait {
      // background-color: $light;
      background-image: rgb(255, 255, 255);
      background-size: cover;
      background-position: top;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      margin: 1rem;
    }

    .name {
      text-transform: uppercase;
      font-weight: 1000;
      color: $light;
    }
  }
}

.skill-section {
  padding-top: 5vh;
  padding-bottom: 5vh;

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;

    .grid-item {
      padding: 20px;
    }
  }
}

.introduction-section {
  p {
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}
